.chart{
    margin-top: 100px;
}
.chart__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-right: 6px;
}
.chart__title h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 33px;
    line-height: 140%;
    margin-bottom: 0;
    position: relative;
}
.chart__display_flex{
    display: flex;
    align-items: center;
}
.chart__icon_player .chart__icon_style{
    cursor: pointer;
    color: #25a56a;
}
.chart__icon_player .chart__icon_style:hover{
    opacity: .8;
}
.chart__main{
    margin-top: 20px;
}
.chart__country{
    margin-top: 20px;
}